<html>
  <head> </head>
  <body>
    <h1>Create Item</h1>
    <form action="/recipe" method="post" enctype="multipart/form-data">
      <label for="label">Item Name</label><br />
      <input type="text" id="item" name="item" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
