<html>
  <head> </head>
  <body>
    <h1>Date Demo</h1>
    <br />
    <form action="http://localhost:3004/sightings" method="POST">
      <input type="text" name="description" placeholder="description" />
      <input type="date" name="date" />
      <input type="submit" value="Submit" />
    </form>

    <a href="/sightings">List sightings</a>
  </body>
</html>
