body {
  margin: 0;
}

#main-bg {
  /* background-color: darkgray; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(184, 0, 0, 1) 59%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#landing-text {
}

#main-text {
  color: white;
  text-align: center;
  font-size: 40px;
}

#main-subtext {
  color: #be3144;
  text-align: center;
}

#secondary-bg {
  background-color: dodgerblue;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#secondary-text {
  color: white;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.portfolio-box {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 10px;
}

#boxes-wrapper {
  width: 700px;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
