<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1 id="title">I haven't made any request</h1>
    <h2 id="response"></h2>
    <button id="button" onclick="makeRequest()">Make a request</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
