<html>
  <head> </head>
  <body>
    <h1>Create Item</h1>
    <form action="/items/create" method="POST" enctype="application/json">
      <label for="label">Item Name</label><br />
      <input type="text" id="item" name="item" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
